name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  # windows:
  #   runs-on: windows-latest
  #   timeout-minutes: 10
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       python-version: [3.6, 3.7, 3.8]
  #       arch: ['x64', 'x86']
  #
  #   steps:
  #   - uses: actions/checkout@v2
  #     with:
  #       submodules: true
  #
  #   - name: Set up Python ${{ matrix.python-version }}
  #     uses: actions/setup-python@v2
  #     with:
  #       python-version: ${{ matrix.python-version }}
  #       architecture: ${{ matrix.arch }}
  #
  #   - name: Install package and dependencies
  #     run: |
  #       python -m pip install -U pip
  #       python -m pip install pytest cython numpy
  #       python -m pip install . -v
  #       python -m pip install git+https://github.com/pydicom/pylibjpeg-data
  #
  #   - name: Run pytest
  #     run: |
  #       pytest
  #
  #   - name: Install pydicom release and rerun pytest
  #     run: |
  #       pip install pydicom
  #       pytest
  #
  # osx:
  #   runs-on: macos-latest
  #   timeout-minutes: 10
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       python-version: [3.6, 3.7, 3.8]
  #
  #   steps:
  #   - uses: actions/checkout@v2
  #     with:
  #       submodules: true
  #
  #   - name: Set up Python ${{ matrix.python-version }}
  #     uses: actions/setup-python@v2
  #     with:
  #       python-version: ${{ matrix.python-version }}
  #
  #   - name: Install package and dependencies
  #     run: |
  #       python -m pip install -U pip
  #       python -m pip install . -v
  #       python -m pip install pytest
  #       python -m pip install git+https://github.com/pydicom/pylibjpeg-data
  #
  #   - name: Run pytest
  #     run: |
  #       pytest
  #
  #   - name: Install pydicom release and rerun pytest
  #     run: |
  #       pip install pydicom
  #       pytest

  ubuntu:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install package and dependencies
      run: |
        python -m pip install -U pip
        python -m pip install .
        python -m pip install pytest coverage pytest-cov
        python -m pip install git+https://github.com/pydicom/pylibjpeg-data

    - name: Run pytest
      run: |
        pytest --cov libjpeg

    - name: Install pydicom release and rerun pytest
      run: |
        pip install pydicom
        pytest --cov libjpeg
        ls .
        ls ../

    # - name: Switch to pydicom dev and rerun pytest
    #   run: |
    #     pip uninstall -y pydicom
    #     pip install git+https://github.com/pydicom/pydicom
    #     pytest --cov libjpeg

    - uses: codecov/codecov-action@v1
      name: Upload coverage results
      with:
        file: ../coverage.xml
